[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = "https://github.com/fatih/vim-go.git"

[submodule ".vim/bundle/vim-scriptease"]
	path = .vim/bundle/vim-scriptease
	url = "https://github.com/tpope/vim-scriptease.git"

[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = "https://github.com/tpope/vim-sensible.git"

[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git

[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git

[submodule ".vim/bundle/vim-javascript-syntax"]
	path = .vim/bundle/vim-javascript-syntax
	url = "https://github.com/jelera/vim-javascript-syntax.git"
