[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = "https://github.com/fatih/vim-go.git"

[submodule ".vim/bundle/vim-scriptease"]
	path = .vim/bundle/vim-scriptease
	url = "https://github.com/tpope/vim-scriptease.git"

[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = "https://github.com/tpope/vim-sensible.git"

[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git

[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git

[submodule ".vim/bundle/vim-javascript-syntax"]
	path = .vim/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule ".vim/bundle/jshint2.vim"]
	path = .vim/bundle/jshint2.vim
	url = https://github.com/Shutnik/jshint2.vim.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = "https://github.com/Valloric/YouCompleteMe#full-installation-guide"
[submodule ".vim/bundle/clostag"]
	path = .vim/bundle/clostag
	url = https://github.com/docunext/closetag.vim.git
[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/Benokai"]
	path = .vim/bundle/Benokai
	url = https://github.com/benjaminwhite/Benokai.git
[submodule "vim-indent-guides"]
	path = vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/quick-scope"]
	path = .vim/bundle/quick-scope
	url = https://github.com/unblevable/quick-scope.git
[submodule ".vim/bundle/gundo.vim"]
	path = .vim/bundle/gundo.vim
	url = http://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/syntastic.vim"]
	path = .vim/bundle/syntastic.vim
	url = https://github.com/scrooloose/syntastic
[submodule ".vim/bundle/javascript-libraries.vim"]
	path = .vim/bundle/javascript-libraries.vim
	url = https://github.com/othree/javascript-libraries-syntax.vim.git
[submodule ".vim/bundle/typescript-vim"]
	path = .vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
